# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
{{ include "service" . | indent 0 }}
  keep-alive:
    params:
      time: {{ .KeepAliveTime | default "60s" }}
      timeout: {{ .KeepAliveTimeout | default "10s" }}
    enforcement-policy:
      min-time: 60s
      permit-without-stream: {{ .KeepAlivePermitWithoutStream | default false }}
{{ include "rateLimit" . | indent 2 }}
  max-concurrent-streams: {{ .MaxConcurrentStreams | default 0 }}

{{ include "ordererDialConfig" . | indent 0 }}

committer:
{{ include "endpointWithTLS" (dict "Endpoint" .Services.Coordinator.GrpcEndpoint "TLS" .ClientTLS) | indent 2 }}

ledger:
  path: {{ .LedgerPath }}
  sync-interval: 100

notification:
  max-timeout: 10m

last-committed-block-set-interval: 5s
waiting-txs-limit: 20_000_000
channel-buffer-size: 100
