# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
server:
  endpoint: {{ .ServiceEndpoints.Server | default "localhost:0" }}
  tls:
    mode: {{ .ServiceTLS.Mode }}
    key-path: {{ .ServiceTLS.KeyPath }}
    cert-path: {{ .ServiceTLS.CertPath }}
    ca-cert-paths:
      {{- range .ServiceTLS.CACertPaths }}
      - {{ . }}
      {{- end }}
monitoring:
  server:
    endpoint: {{ .ServiceEndpoints.Metrics | default "localhost:0" }}

database:
  endpoints:
    {{- range .DB.Endpoints }}
    - {{ . }}
    {{- end }}
  username: "yugabyte"
  # TODO: pass password via environment variable
  password: {{ .DB.Password }}
  database: {{ .DB.Name }}
  load-balance: {{ .DB.LoadBalance }}
  tls:
    mode: {{ .DB.TLS.Mode }}
    ca-cert-path: {{ .DB.TLS.CACertPath }}
  max-connections: 10
  min-connections: 5
  retry:
    max-elapsed-time: 1h

resource-limits:
  max-workers-for-preparer: 1
  max-workers-for-validator: 1
  max-workers-for-committer: 20
  min-transaction-batch-size: 1
  timeout-for-min-transaction-batch-size: 2s

logging:
  enabled: {{ .Logging.Enabled }}
  level: {{ .Logging.Level }}
  caller: {{ .Logging.Caller }}
  development: {{ .Logging.Development }}
  output: {{ .Logging.Output }}
  name: VC
