# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
{{ include "service" . | indent 0 }}

parallelism: 40
batch-time-cutoff: {{ .VerifierBatchTimeCutoff | default "10ms" }}
batch-size-cutoff: {{ .VerifierBatchSizeCutoff | default 50 }}
channel-buffer-size: 50
